@media all {
    /*gerais*/
    * {
      margin: 0;
      padding: 0;
    }
  
    body::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }


    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:#00212e ;
    }

    .transparencia{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.521);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;

        display: none;
    }

    /*Barra lateral*/

    .BarraLateral{
        position: fixed;
        z-index: 2;
        top: 10px;
        bottom: 10px;
        right: 10px;
        border-radius: 20px;
        padding: 20px;
        background-color: #012E40;
        width:150px;
        box-shadow: 3px 3px 15px black;
        display: flex;
        flex-direction: column;
        gap: 20px;

        display: none;
    }

    #IconClose{
        display: flex;
        align-self: end;
        color: #F28705;
        cursor: pointer;
        background-color: #00212e;
        padding: 5px;
        border-radius: 50%;
    }

    #IconClose:hover{
        background-color: #002b3c; 
        border: 0.4px solid white;
    }

    .BarraLateral ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        justify-content: space-around;
        align-items: end;
    }

    .BarraLateral a{
        text-decoration: none;
        color: white;
    }

    .BarraLateral a:hover{
        color: #F28705;
    }

  
    /*header - section*/

    .CapaInicialDoSite{
        background-image: url(./img/mulher-jovem-assistindo-servico-de-streaming-em-casa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 100vw;
    }

    /*header - cabeçalho*/

    .CapaInicialDoSite_Cabeçalho{
        background-color: #00212e;
        border-radius: 50px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 30px;
        justify-content: space-between;
        box-shadow: 3px 3px 15px black;
    }

    .CapaInicialDoSite_Cabeçalho ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
    }

    .CapaInicialDoSite_Cabeçalho a{
        text-decoration: none;
        color: white;
    }

    .CapaInicialDoSite_Cabeçalho a:hover{
        color: #F28705;
    }

    #iconMenu{
        cursor: pointer;
        color: #F28705;
        display: none;
    }

    #iconMenu:hover{
        color: #ac640c;
    }

    /*header - corpo*/

    .CapaInicialDoSite_Corpo{
        margin-top: 75px;
        width: 80%;
        max-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1em;
        color: white;
    }

    .CapaInicialDoSite_Corpo h1{
        text-shadow: 3px 3px 3px black;
        font-size: 50px;
    }

    .CapaInicialDoSite_Corpo>p{
        color: rgba(255, 255, 255, 0.819);
        font-size: 17px;
    }

    .CapaInicialDoSite_Corpo_Valor strong{
        font-size: 40px;
        margin: 10px;
        color: #df7b00;
        text-shadow: 3px 3px 16px rgb(0, 0, 0);
    }

    .CapaInicialDoSite_Corpo_Valor button{
        background-color: #F28705;
        outline: none;
        border: none;
        padding: 5px 15px;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 3px 3px 13px rgb(0, 0, 0);
    }

    .CapaInicialDoSite_Corpo_Valor button:hover{
        background-color: #e07b00;
    }

    .CapaInicialDoSite_Corpo_Valor a{
        text-decoration: none;
        color: #012E40;
        font-weight: bold;
    }

    /*main - Vantagens*/

    #Vantagens{
        border-left: 1px solid rgba(255, 255, 255, 0.356);
        color: white;
        display:flex;
        flex-direction: column;
        padding: 20px;
        margin: 2em 10px 2em 10px;
    }

    #Vantagens>p{
        background-color: #003042;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        width: 80px;
        margin-bottom: 1em;
    }

    #Vantagens h1{
        font-size: 20px;
    }

    .Vantagens_Container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 90vw;
        max-width: 1000px;
        margin: auto;
    }

    .Vantagens_Container span{
        color: #e07b00;
        cursor: pointer;
        font-size: 10px;
        display: none;
    }

    .Vantagens_divs {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 1.5em;
        justify-content: space-evenly;
        width: 100%;
    }
  
    .Vantagens_divs div{
        background-color: #002a3b;
        min-width: 200px;
        max-width: 200px;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Vantagens_divs div img{
        width: 70px;
    }

    .Vantagens_divs>div>h1{
        color: rgba(255, 255, 255, 0.538);
        font-size: 17px;
    }

    .Vantagens_divs div p{
        font-size: 14px;
        color: rgb(110, 107, 107);
    }

    /*main - Comentarios*/

    #Comentarios{
        border-left: 1px solid rgba(255, 255, 255, 0.356);
        color: white;
        display:flex;
        flex-direction: column;
        padding: 20px;
        margin: 2em 10px 2em 10px;
    }

    #Comentarios>p{
        background-color: #003042;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 1em;
    }

    #Comentarios h1{
        font-size: 20px;
    }

    .CaixaDosComentarios{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 90vw;
        max-width: 1000px;
        margin: auto;
    }

    .CaixaDosComentarios span{
        color: #F28705;
        font-size: 10px;
        cursor: pointer;
    }

    .Comentarios_divs {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 1.5em;
        overflow-x: auto;
        padding: 4px;
    }
    
    .Comentarios_divs_coments {
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 200px;
        border: 1px solid white;
        padding: 10px;
        justify-content: space-between;
        border-radius: 20px;
    }

    .Comentarios_divs_coments:hover{
        transform: translate(-3px,-3px);
        transition: transform 0.4s;

    }
    
    .Comentarios_divs::-webkit-scrollbar {
        display: none;
    }
    
    .Comentarios_divs {
        scrollbar-width: none;
    }

    .estrelas{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .estrelas img{
        width: 20px;
    }

    .perfil{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .perfil img{
        width: 40px;
        border-radius: 50%;
    }

    /*main - Destaques*/

    #Destaques{
        margin-top: 2em;
        margin-bottom: 2em;
        background-image: url(./img/pexels-michelangelo-buonarroti-8728560.jpg);
        background-position: center;
        background-size: cover;
        padding: 20px 30px;
    }

    .ptrailer{
        color: #F28705;
        font-size: 14px;
        margin-top: 10px;
    }

    .pdestaque{
        background-color: #003042;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 1em;
        color: white;
    }

    #Destaques h1{
        font-size: 20px;
        color: white;
    }

    .Destaques_DivGeralDosDestaques{
        padding-top: 1.4em;
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: auto;
        position: relative;
    }

    .Destaques_DivGeralDosDestaques img{
        width: 200px;
        height: 305px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 1s ease-in-out;
    }

    .Destaques_DivGeralDosDestaques img:hover{
        transform: scale(1.03);
    }

    .VideosDeTrailer{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90vw;
        transform: translate(-50%,-50%);
        display: none;
        z-index: 1;
    }

    .VideosDeTrailer iframe{
        width: 100%;
        max-width: 700px;
        margin: auto;
        border-radius: 10px;
    }

    /*Versão Mobile dos posters*/

    #TamplateMobileTrailers{
        display: none;
        margin-top: 1em;
    }

    .swiper {
        width: 270px;
        height: 400px;
    }


    .swiper-slide{
        margin: auto;
    }
  
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }


    .trailersMobile{
        display: none;
        margin-top: 1em;
    }

    .trailersMobile iframe{
        width: 100%;
    }

    /*Duvidas*/

    #Duvidas{
        border-left: 1px solid rgba(255, 255, 255, 0.356);
        display:flex;
        flex-direction: column;
        padding: 20px;
        margin: 2em 10px 2em 10px;
    }

    #Duvidas>p{
        background-color: #003042;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 1em;
        color: white;
    }

    #Duvidas h1{
        font-size: 20px;
        color: white;
        margin-bottom: 1em;
    }

    .DivisorDasDivsPerguntas{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .DivGeralDasPerguntas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        width: 90%;
        max-width: 900px;
        margin: auto;
    }

    .DivisorDasDivsPerguntas{
        width: 50%;
    }
    
    .perguntaDiv{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .perguntaDiv_Titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #002d3f;
        justify-content: space-between;
        border-radius: 10px;
        padding: 5px 10px;
        color: rgba(255, 255, 255, 0.753);
        height: 40px;
        font-size: 14px;
    }

    .perguntaDiv_Titulo img{
        width: 20px;
        cursor: pointer;
        background-color: #df7b00;
        padding: 4px;
        border-radius: 10px;
    }

    .perguntaDiv_Titulo img:hover{
        background-color: #fa8900;       
    }

    .perguntaDiv_Resposta{
        padding: 10px;
        background-color: #002635;
        color: rgba(255, 255, 255, 0.396);
        border-radius: 10px;
        font-size: 13px;

        display: none;
    }

    #imagenIconFechar{
        display: none;
    }

    /*Cartões*/

    #Cartoes{
        border-left: 1px solid rgba(255, 255, 255, 0.356);
        color: white;
        display:flex;
        flex-direction: column;
        padding: 20px;
        margin: 2em 10px 2em 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .Cartoes_texto p{
        background-color: #003042;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 1em;
    }


    .Cartoes_texto h1{
        font-size: 20px;
        margin-bottom: 1em;
    }

    .Cartoes_bandeiras img{
        width: 80px;
        border-radius: 20px;
    }

    .Cartoes_bandeiras img:hover{
        transform: translate(-3px,-3px);
        transition: transform 1s;
    }

    /*footer*/

    .pSigaAsPaginas{
        text-align: center;
        color: rgba(255, 255, 255, 0.16);
    }

    .linksexternosFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 10px;
    }

    .linksexternosFooter div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .linksexternosFooter i{
        color: #ac640c;
        background-color: #002f42;
        padding: 4px 6px;
        border-radius: 50%;
        cursor: pointer;
    }

    .linksexternosFooter p{
        color: #00364b;
    }

    .linksexternosFooter p:hover{
        color: #00577a;
    }

    .descricaoFooter{
        color: #012E40;
        text-align: center;
        padding: 10px;
        font-size: 13px;
    }
}
  
  /* Estilos para tablets*/
@media (max-width: 1100px) {
}
  

  /*Estilos para dispositivos móveis*/
@media (max-width: 568px) {

    /*header - section*/

    .CapaInicialDoSite{
        background-image: url(./img/jovem-curtindo-a-noite-de-cinema.jpg);
    }

    /*header - cabeçalho*/

    .CapaInicialDoSite_Cabeçalho ul{
        display: none;
    }

    #iconMenu{
        cursor: pointer;
        color: #F28705;
        display: block;
    }

    /*main - Vantagens*/

    .Vantagens_divs {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: start;
    }

    .Vantagens_divs::-webkit-scrollbar {
        display: none;
    }

    .Vantagens_Container span{
        display: block;
    }

    /*main - Destaques*/

    .Destaques_DivGeralDosDestaques{
        display: none;
    }

    /*Versão Mobile dos posters*/

    #TamplateMobileTrailers{
        display: block;
    }

    /*Perguntas*/

    .DivGeralDasPerguntas{
        flex-direction: column;
    }

    .DivisorDasDivsPerguntas{
        width: 100%;
    }

    /*Cartões*/

    #Cartoes{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    /*footer*/

    .pSigaAsPaginas{
        text-align: left;
        padding-left: 20px;
    }

    .linksexternosFooter{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pface{
        margin-left: 8px;
    }
}